@media screen and (min-width: 600px) {
    #container > header > .ident{
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    #container > header > .ident > a{
        height: 96px;
        width: 96px;
    }

    #container > header > .social-media {
        flex-direction: row;
    }

    #container > main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #container > main > .span-4 {
        grid-column: span 4;
    }

    #container > main > .span-3 {
        grid-column: span 3;
    }

    #container > main > .span-2 {
        grid-column: span 2;
    }
}