*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#container > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}

#container > header > .ident{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container > header > .ident > a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 72px;
    width: 72px;
    overflow: hidden;
    transition: transform .3s;
}

#container > header > .ident > a:hover, 
#container > header > .social-media > li > a:hover {
    transform: scale(1.2);
}

#container > header > .ident > a > img{
    object-fit: contain;
    height: inherit;
}

#container > header > .ident > h1{
    font-family: 'Cutive Mono', monospace;
    text-transform: lowercase;
    font-size: 28px;
    font-weight: 300;
}

#container > header > .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#container > header > .social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: transform .3s;
}

#container > header > .social-media a > img {
    object-fit: contain;
    height: inherit;
}

#container > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow: hidden;
}

#container > main > section {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 320px;
}

#container > main > section > img {
    object-fit: contain;
}

#container > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}
